version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/meeting-manager"
    schedule:
      interval: "daily"
    target-branch: "dev"
    labels:
      - "dependencies"
      - "dependabot"
