name: PR to Dev Workflow

on:
  pull_request:
    branches:
      - dev

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: meeting-manager/package-lock.json

      - name: Install dependencies
        working-directory: ./meeting-manager
        run: npm install

      - name: Run linter
        working-directory: ./meeting-manager
        run: npm run lint

      - name: Build project
        working-directory: ./meeting-manager
        run: npm run build
